In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
mca = pd.read_csv('marketing_customer_analysis.csv')
mca

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
#for i in 
#range (len(mca['Unnamed: 0']))
    #if mca.columns[0][i+1]!=mca.columns[0][i]+1:
      #  print("not consecutive")
        #else:
         #   print('consecutive')
        
#mca.columns[0]

In [4]:
mca.shape

(10910, 26)

In [5]:
mca.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [6]:
#cols = [ mca.columns[i].lower(), i in range(len(mca.columns))]
#cols
#mca.columns=mca.columns.str.lower()
#mca.columns

In [7]:
#mca.columns[0]=mca.columns.replace(':','').replace('0','')
cols = []

for i in range(len(mca.columns)):
    cols.append(mca.columns[i].lower().replace(': 0','').replace(' ','_'))
cols

['unnamed',
 'customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

In [8]:
mca.columns=cols

In [9]:
mca.dtypes

unnamed                            int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

In [10]:
mca.isna().sum()

unnamed                             0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [11]:
mca['vehicle_type'].fillna("No_Type", inplace = True) 
mca['vehicle_type']

0        No_Type
1        No_Type
2              A
3              A
4        No_Type
          ...
10905          A
10906          A
10907    No_Type
10908          A
10909    No_Type
Name: vehicle_type, Length: 10910, dtype: object

In [12]:
mca['response'].fillna("No_data", inplace = True) 
mca['response']

0             No
1             No
2             No
3            Yes
4             No
          ...
10905         No
10906         No
10907         No
10908         No
10909    No_data
Name: response, Length: 10910, dtype: object

In [13]:
mca['vehicle_size'].fillna("Unknown", inplace = True) 
mca['vehicle_size'][200:250]

200      Large
201    Medsize
202    Medsize
203      Large
204    Medsize
205    Unknown
206      Small
207    Medsize
208      Small
209    Medsize
210    Medsize
211      Small
212    Medsize
213    Medsize
214      Large
215    Medsize
216      Large
217    Medsize
218    Medsize
219      Small
220    Medsize
221    Medsize
222    Medsize
223    Medsize
224    Unknown
225    Medsize
226    Medsize
227    Medsize
228    Medsize
229    Medsize
230    Medsize
231    Medsize
232    Medsize
233      Small
234    Medsize
235    Medsize
236    Medsize
237      Small
238      Small
239    Medsize
240      Small
241    Medsize
242    Medsize
243    Medsize
244    Medsize
245    Medsize
246      Small
247    Medsize
248      Small
249    Medsize
Name: vehicle_size, dtype: object

In [14]:
mca['vehicle_class'].fillna("No_class_given", inplace = True) 
mca['vehicle_class'][200:250]

200     Four-Door Car
201               SUV
202     Four-Door Car
203      Two-Door Car
204               SUV
205    No_class_given
206        Luxury SUV
207     Four-Door Car
208        Luxury SUV
209      Two-Door Car
210     Four-Door Car
211      Two-Door Car
212     Four-Door Car
213        Sports Car
214      Two-Door Car
215     Four-Door Car
216     Four-Door Car
217     Four-Door Car
218               SUV
219     Four-Door Car
220     Four-Door Car
221     Four-Door Car
222      Two-Door Car
223      Two-Door Car
224    No_class_given
225     Four-Door Car
226     Four-Door Car
227     Four-Door Car
228      Two-Door Car
229     Four-Door Car
230      Two-Door Car
231     Four-Door Car
232               SUV
233               SUV
234      Two-Door Car
235      Two-Door Car
236        Luxury Car
237     Four-Door Car
238     Four-Door Car
239               SUV
240     Four-Door Car
241               SUV
242     Four-Door Car
243               SUV
244     Four-Door Car
245     Four-Door Car
246     Four-Door Car
247     Four-Door Car
248     Four-Door Car
249     Four-Door Car
Name: vehicle_class, dtype: object

In [15]:
mca['state'].fillna("no state given", inplace = True) 
mca['state']

0               Arizona
1            California
2            Washington
3                Oregon
4                Oregon
              ...
10905            Nevada
10906            Oregon
10907           Arizona
10908        California
10909    no state given
Name: state, Length: 10910, dtype: object

In [16]:
mean_claim=mca['months_since_last_claim'].mean()
mean_claim

15.149070740488469

In [17]:
mca['months_since_last_claim'].fillna(mean_claim, inplace = True) 
mca['months_since_last_claim']

0         7.000000
1         3.000000
2        34.000000
3        10.000000
4        15.149071
           ...
10905    15.149071
10906     7.000000
10907    11.000000
10908     0.000000
10909    31.000000
Name: months_since_last_claim, Length: 10910, dtype: float64

In [18]:
mean_compl=mca['number_of_open_complaints'].mean()
mean_compl

0.38425610586747105

In [19]:
mca['number_of_open_complaints'].fillna(mean_compl, inplace = True) 
mca['number_of_open_complaints']

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.384256
           ...
10905    0.384256
10906    0.000000
10907    0.000000
10908    4.000000
10909    0.000000
Name: number_of_open_complaints, Length: 10910, dtype: float64

In [20]:
mca.isna().sum()

unnamed                          0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [21]:
#6. Datetime format - Extract the months from the dataset and store in a separate column. 
#Then filter the data to show only the information for the first quarter , 
#ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

mca['month'] = pd.DatetimeIndex(mca['effective_to_date']).month
mca['month']

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: month, Length: 10910, dtype: int64

In [22]:
mca.columns

Index(['unnamed', 'customer', 'state', 'customer_lifetime_value', 'response',
       'coverage', 'education', 'effective_to_date', 'employmentstatus',
       'gender', 'income', 'location_code', 'marital_status',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [23]:
mca[mca['month']<=3]

,unnamed,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,No_Type,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,No_Type,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,No_Type,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,No_Type,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,no state given,6857.519928,No_data,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,No_Type,1